<h2 class="title is-3">Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", :class => 'input', placeholder: 'Email' %>
    </div>

    <div class="field">
        <%= f.password_field :password, autocomplete: "current-password", :class => 'input', placeholder: 'Password' %>
    </div>

    <% if devise_mapping.rememberable? %>
        <div class="field">
            <label class="checkbox">
                <%= f.check_box :remember_me, :class => 'checkbox' %>
                Remember me
            </label>
        </div>
    <% end %>

    <div class="actions">
        <%= f.submit "Log in", :class => 'button is-link' %>
    </div>
<% end %>

<%= render "users/shared/links" %>
